/* Reset default */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

input {
  border: 0;
  outline: none;
  color: var(--gray-color-400);
}

:root {
  /* Phần tử root là phần tử root html */
  /* Color */
  --gray-color-300: #858584;
  --gray-color-400: #2b2b2b;
  --gray-color-500: #3b3b3b;
  --primary-color: #a259ff;
  --white-color: #fff;

  /* Sematic color */
  --bg-color: var(--gray-color-400);
  --button-color: var(--primary-color);
  --text-color: var(--white-color);

  /* Typography*/
  --primary-font: "Work Sans", sans-serif;
  --secondary-font: "Space Mono", monospace;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-normal: 1.4;
  --line-height-medium: 1.6;
}

button {
  background-color: transparent; /* transparent:  trong suốt */
  border: 0;
  color: inherit; /* Mặc định trình duyệt style màu đen, để kế thừa body dùng inherit */
  cursor: pointer;
  font: inherit; /* Chỉ cần set font để kế thừa tất cả */
}

body {
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--gray-color-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.container {
  max-width: 1110px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  gap: 12px;
  padding: 17px 48px;
  border-radius: 20px;
  font-weight: var(--font-weight-semibold);
  line-height: 22px;
  border: 2px solid transparent;
}

.btn.btn-primary {
  background-color: var(--primary-color);
}

.btn.btn-small {
  padding: 17px 28px;
}

.btn.btn-outline {
  border-color: var(--primary-color);
}

.btn.btn-white {
  background-color: var(--white-color);
  color: var(--gray-color-400);
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link {
  padding: 12px 20px;
  font-weight: var(--font-weight-semibold);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn {
  display: none;
}

.section {
  position: relative;
  padding: 80px 0;
}

.section-heading:has(.btn) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 100px;
}

.heading-text {
  flex: 1;
}

.section-title {
  font-size: 38px;
  line-height: var(--line-height-small);
  font-weight: var(--font-weight-semibold);
}

.section-subtitle {
  font-size: 22px;
  line-height: var(--line-height-medium);
}

.section-subtitle + .section-title {
  margin-top: 10px;
}

.creator-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.creator-card {
  position: relative;
  background-color: var(--gray-color-500);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator-item {
  width: calc((100% - 90px) / 4);
}

.creator-image {
  overflow: hidden;
  border-radius: 999px;
  width: 120px;
  height: 120px;
}

.creator-rank {
  position: absolute;
  border-radius: 20px;
  background-color: var(--gray-color-400);
  top: 18px;
  left: 20px;
  width: 30px;
  height: 30px;
  font-family: var(--secondary-font);
  color: var(--gray-color-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator-info {
  margin-top: 20px;
  text-align: center;
}

.creator-name {
  font-size: 22px;
  font-weight: var(--font-weight-medium);
}
.creator-sales {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.creator-sales .label {
  color: var(--gray-color-300);
}

.creator-sales .coin {
  font-family: var(--secondary-font);
}

/* Section collection */
.collection-list {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.collection-item {
  width: calc((100% - 60px) / 3);
}

.collection-thumbnails {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.collection-image,
.collection-thumbnail {
  border-radius: 20px;
  overflow: hidden;
}

.collection-image > img,
.collection-thumbnail > img {
  width: 100%;
}

.collection-thumbnail {
  flex: 1;
}

.collection-thumbnail .btn-additional {
  display: inline-block;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  font-weight: var(--font-weight-bold);
  font-size: 22px;
  line-height: var(--line-height-medium);
  font-family: var(--secondary-font);
}

.collection-card .nft-info {
  margin-top: 15px;
}

.nft-info-title {
  font-size: 22px;
  font-weight: var(--font-weight-semibold);
}

.nft-info-title + .nft-info-box {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Section hero */
.hero-inner {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.hero-content,
.hero-media {
  flex: 1;
}

.section-hero .section-title {
  font-size: 67px;
  line-height: 1.1;
  font-weight: var(--font-weight-medium);
  text-transform: capitalize; /* Viet hoa chu cai dau */
}

.section-hero .section-subtitle {
  font-size: 22px;
  margin-top: 20px;
  line-height: var(--line-height-medium);
}

.hero-media {
  border-radius: 20px;
  overflow: hidden;
}

.hero-button {
  margin-top: 30px;
}

.additional-info-list {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
}

.additional-info-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.additional-info-item .value {
  font-size: 28px;
  font-weight: var(--font-weight-bold);
  font-family: var(--secondary-font);
}

.additional-info-item .label {
  font-size: 24px;
  line-height: var(--line-height-medium);
}

.hero-media-info {
  padding: 22px 20px;
  background-color: var(--gray-color-500);
}

/* Section category */
.category-list {
  margin-top: 60px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr ; */
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  flex-wrap: wrap;
}

.category-item {
  flex-direction: column;
  background-color: var(--gray-color-500);
  align-items: center;
  width: ((100% - 90px) / 4);
  border-radius: 20px;
}

.category-image {
  overflow: hidden;
}

.category-image > img {
  width: 100%;
}

.category-info {
  padding: 20px 30px;
  font-weight: var(--font-weight-medium);
}

.category-title {
  font-size: 22px;
}

/* Responsive 

Thường css dựa theo breakpoint (breakpoint: điểm dừng)
Tips: Tablet thường là 1024px, Mobile thường là 768px, tuy nhiên nên tùy theo thiết kế mà chọn breakpoint phù hợp

Sử dụng media query để viết css responsive
*/

/* tablet */
@media screen and (max-width: 1110px) {
  /* CSS cho header */
  .logo {
    width: 182px;
  }

  .menu-btn {
    display: block;
  }

  .menu {
    flex-direction: column;
  }

  .navigation {
    flex-direction: column;
    right: 0;
    top: 0;
    padding: 30px;
    width: 300px;
    height: 100vh;
    background-color: var(--gray-color-400);
    position: fixed;
    transform: translateX(
      100%
    ); /* dịch chuyển theo trục X 100% (tức cả phần tử)*/
    transition: transform 0.3s; /* chuyển đổi mượt mà trong 0.3s */
  }

  .navigation.is-open {
    transform: translateX(
      0
    ); /* khi có class is-open thì dịch chuyển về vị trí ban đầu */
  }

  /* Common css */
  .section {
    padding: 40px 0;
  }

  .section-title {
    font-size: 28px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  /* Section hero */
  .sectopm-hero {
    padding: 80px 0;
  }
  .section-hero .section-title {
    font-size: 38px;
  }

  .section-hero .section-subtitle {
    font-size: 16px;
  }

  .additional-info-item .label {
    font-size: 16px;
  }
  .additional-info-item .value {
    font-size: 22px;
  }

  /* Section collection */

  .collection-list {
    margin-top: 40px;
  }

  .collection-item {
    width: calc((100% - 30px) / 2);
  }

  /* Section creator */

  .creator-item {
    width: calc((100% - 30px) / 2);
  }

  .creator-card {
    flex-direction: row;
    gap: 20px;
  }

  .creator-image {
    width: 60px;
    height: 60px;
  }

  .creator-info {
    margin-top: 0px;
  }

  .creator-rank {
    top: 13px;
    left: 12px;
  }

  .creator-info .creator-name {
    text-align: left;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  /* CSS cho header */
  .logo {
    width: 182px;
  }
  .header {
    padding: 15px 30px;
  }

  .menu-btn {
    display: block;
  }

  .menu {
    flex-direction: column;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation.is-open {
    transform: translateX(
      0
    ); /* khi có class is-open thì dịch chuyển về vị trí ban đầu */
  }

  .btn {
    justify-content: center;
    width: 100%;
  }

  /* Section hero */

  .section-hero {
    padding: 40px 0;
    padding-bottom: 237px;
    position: relative;
  }

  .hero-inner {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-media-box > img {
    width: 100%;
  }

  .hero-content-wrap {
    width: calc(100% - 60px);
    margin-top: 0;
    position: absolute;
    bottom: 40px;
  }

  .additional-info-list {
    justify-content: center;
  }

  /* Section collection */

  .collection-list {
    margin-top: 40px;
  }

  .collection-item {
    width: 100%;
  }

  /* Section creator */

  .section-creator {
    padding-bottom: 140px;
  }

  .creator-card {
    gap: 10px;
  }

  .section-creator .section-heading .btn {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 40px;
  }

  .creator-item {
    width: 100%;
  }

  /* Section category */

  .category-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .category-image > img {
    width: 100%;
  }
}
